<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%p] %logger - %msg%n</pattern>
        </encoder>      
    </appender>
	<root>
		<appender-ref ref="CONSOLE" />
	</root>
    <logger name="org.red5">
        <level value="DEBUG" />
    </logger>
    <logger name="org.red5.client">
        <level value="TRACE" />
    </logger>
    <logger name="org.red5.io">
        <level value="INFO" />
    </logger>
    <logger name="org.red5.server.util">
        <level value="INFO" />
    </logger>   
    <logger name="org.red5.server.net">
        <level value="TRACE" />
    </logger>
<!-- 
    <logger name="org.red5.io">
        <level value="INFO" />
    </logger>   
    <logger name="org.red5.server.net.rtmp.codec.RTMPProtocolDecoder">
        <level value="INFO" />
    </logger>
    <logger name="org.red5.server.net.rtmp.codec.RTMPProtocolEncoder">
        <level value="DEBUG" />
    </logger>
    <logger name="org.red5.server.net.rtmp.RTMPHandshake">
        <level value="TRACE" />
    </logger>
    <logger name="org.red5.server.net.rtmp.InboundHandshake">
        <level value="TRACE" />
    </logger>
    <logger name="org.red5.server.net.rtmp.OutboundHandshake">
        <level value="TRACE" />
    </logger>
 -->
    <logger name="net.sf.ehcache">
        <level value="INFO" />
    </logger>
    <logger name="net.sourceforge.groboutils">
        <level value="INFO" />
    </logger>
</configuration>
